.DS_Store

Frameworks/CPaySDK/.DS_Store
MockServer/node_modules
MockServer/package-lock.json 
MockServer/.DS_Store
Frameworks/*/.DS_Store
Frameworks/*/Output/*
CPayDemoOC/CPayDemoOC.xcodeproj/xcuserdata/
CPayDemoSwift/CPayDemoSwift.xcodeproj/xcuserdata/
CPaySDK.xcworkspace/xcuserdata/
Frameworks/*/*.xcodeproj/xcuserdata/
CPayDemoOC/CPayDemoOC.xcodeproj/xcshareddata/
Frameworks/CPaySDK/Build/
Frameworks/BraintreeDropIn/BraintreeDropIn.xcodeproj/xcshareddata/
Output/*
**/Pods/*
*.xcuserdatad
**/Build/*
*.xcuserstate
